# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getEnv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgresql://gitpod@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_ENV=development
API_KEY='YvZ1UtZpTS4MZLRlm_TfmS5QbZH8ce05UpqsVzd1HXw3e08JboJRoFCz6iW7MJXW6-WzXzgsKeLLGxDiQohJaI8RfaMI-8A-3qG_6QL1sc_iU1Al19J1ki5I72qbYnYx'

# Front-End Variables
BASENAME=/
