.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scrollbar-base-color: #04775a !important;
}
.titles {
  color: #f9f9f9;
  margin-top: 10px;
}
.card {
  min-height: 305px;
  margin-bottom: 10px;
}
.innertitle {
  text-decoration-style: double;
  color: #f9f9f9;
}
.card:hover {
  border-radius: 1%;
  opacity: 85%;
}
.card-img {
  height: 305px;
  width: 300px;
}
.row {
  width: 1100px;
  margin: 1rem;
}
/* .row.scroll {
  scroll-snap-type: x mandatory;
} */
/* .card.text-white.text-end {
  scroll-snap-align: start;
} */
