.scroll {
  overflow-x: hidden;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scrollbar-base-color: #04775a !important;
}
.leftarrow {
  color: white;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}
.leftarrow:hover {
  opacity: 50%;
}
.rightarrow {
  color: white;
  font-size: 40px;
  height: 40px;
  width: 40px;
}
.rightarrow:hover {
  opacity: 50%;
}
.pagetitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 45px;
  font-weight: bolder;
  color: #f9f9f9;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.pagetitle:hover {
  opacity: 85%;
}
.categories {
  font-size: 40px;
  font-weight: bolder;
  color: #ebc17a;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.categories:hover {
  opacity: 80%;
}
.card-img-overlay {
  width: 303px;
  margin-bottom: 0.5rem;
  margin-right: 0;
  margin-left: 0rem;
}
.h2 {
  box-shadow: 10px 5px 5px #c39546;
}
.favsicon {
  color: white;
  align-items: flex-start;
  font-weight: bolder;
  font-size: 40px;
  margin-right: 0px;
  margin-left: 0rem;
  margin-bottom: 14rem;
  padding: 0px;
  width: 50%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.favsicon:hover {
  font-sixe: 45px;
  opacity: 50%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-right: 0px;
  margin-left: 0rem;
}
.a:link {
  text-decoration: none;
}
.locationname {
  padding: 0;
  /* margin-right: 1rem;
  margin-left: 2rem; */
  font-style: italic;
  font-size: 35px;
  font-weight: bolder;
  color: #f9f9f9;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.locationname:hover {
  opacity: 90%;
  color: white;
  font-style: normal;
  font-size: 39px;
}
.explorecard {
  width: 310px;
}
.explorecard:hover {
  filter: blur(0.6px);
  border-radius: 1%;
}
.card-img {
  height: 305px;
  width: 300px;
}
.row {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
