.container {
}
.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scrollbar-base-color: #04775a !important;
}
.pagetitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 45px;
  font-weight: bolder;
  color: #f9f9f9;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.pagetitle:hover {
  opacity: 85%;
}
.titles {
  font-size: 40px;
  font-weight: bolder;
  color: #ebc17a;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.titles:hover {
  opacity: 80%;
}
.card {
  min-height: 305px;
  margin-bottom: 10px;
}
.h2 {
  box-shadow: 10px 5px 5px #c39546;
}
.innertitle {
  font-style: italic;
  font-size: 35px;
  font-weight: bolder;
  color: #f9f9f9;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.innertitle:hover {
  opacity: 90%;
  color: white;
  font-style: normal;
  font-size: 45px;
}
.explorecard:hover {
  filter: blur(0.6px);
  border-radius: 1%;
}
.card-img {
  height: 305px;
  width: 300px;
}
.row {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
/* .row.scroll {
  scroll-snap-type: x mandatory;
} */
/* .card.text-white.text-end {
  scroll-snap-align: start;
} */
