.surveycss {
  margin-top: 0.09%;
  margin-bottom: 0.5%;
  padding-bottom: 5%;
  padding: 10px;
  margin-left: 0.003%;
  background-color: #dfecdb;
  border: 50px solid rgb(3, 37, 3);
  opacity: 0.58;
}
.surveytitle {
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  color: #102721;
}
